h5{
    font-weight: bold;
    color: lightgreen;
}
.card-subtitle{
    color:green;
}
p{
    color:lightgreen;
    font-size: 14pt;
}
.container-fluid{
    top:56px;
    position: relative;
    height:100%;
    background-color: dark;
    padding-bottom: 26px;
}
figure {
    width: intrinsic;
}
img {
    width: 20%;
    vertical-align: center;
}
.row{
    width:100%;
    padding-left: 40px;
}
.card{
    text-align: center;
    background-color:black;
}
a{
    color:rgb(255, 255, 255);
}