<div class = "container-fluid">
    <div class = "row justify-content-end">
        <div class = "col-lg-8">
            <div class = "card-group">
                <div class="card">
                    <div class = "card-block">
                      <h5 class = "card-title"> New Single Alert!!!!!</h5>
                      <h6 class = "card-subtitle"> 12/6/2018</h6>
                    </div>
                    <figure>
                        <img src ="../../project/assets/images/whip.gif">
                    </figure>
                    <div class = "card-block">
                        <p class = "card-text">We finally released a new single titled "Ya Ya Yeet"! This is our first single since our second album!! Be sure to check it out!!</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <br>
      <div class = "row">
          <div class = "col-lg-8">
              <div class = "card-group">
                <div class="card">
                    <div class = "card-block">
                      <h5 class = "card-title"> New Feature!</h5>
                      <h6 class = "card-subtitle"> 12/3/2018</h6>
                    </div>
                    <figure>
                        <img src ="../../project/assets/images/12.png">
                    </figure>
                    <div class = "card-block">
                      <p class = "card-text">We have a new page on our website where we sell merch that we created ourselves!
                            Click <a routerLink="/merch" routerLinkActive="active"> here</a> to check it out!
                      </p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class = "row justify-content-end">
              <div class = "col-lg-8">
                  <div class = "card-group">
                    <div class="card">
                        <div class = "card-block">
                          <h5 class = "card-title"> We're Sorry.</h5>
                          <h6 class = "card-subtitle"> 11/22/2018</h6>
                        </div>
                        <figure>
                            <img src ="../../project/assets/images/vinceHospital.png">
                        </figure>
                        <div class = "card-block">
                          <p class = "card-text">We were supposed to play in a concert today in LA. Unforunately, we must cancel
                            because Vince got extremely sick. We're very sorry.
                          </p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class = "row">
                  <div class = "col-lg-8">
                      <div class = "card-group">
                        <div class="card">
                            <div class = "card-block">
                              <h5 class = "card-title"> Out Second Album.</h5>
                              <h6 class = "card-subtitle"> 11/12/2018</h6>
                            </div>
                            <figure>
                                <img src ="../../project/assets/images/7.png">
                            </figure>
                            <div class = "card-block">
                              <p class = "card-text">Guys..this is huge...we're releasing our second album, VirtualBoiz. We've been 
                                working extremely hard on this and we truly hope that you guys enjoy.
                              </p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class = "row justify-content-end">
                      <div class = "col-lg-8">
                          <div class = "card-group">
                            <div class="card">
                                <div class = "card-block">
                                  <h5 class = "card-title"> Happy Halloween!!!</h5>
                                  <h6 class = "card-subtitle"> 10/31/2018</h6>
                                </div>
                                <figure>
                                    <img src ="../../project/assets/images/skeleton.gif">
                                </figure>
                                <div class = "card-block">
                                  <p class = "card-text">Happy Halloween! We've released a cover of the very popular meme, Spooky Scary Skeletons! Be sure to check it out!</p>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                  <br>
                  <div class = "row">
                      <div class = "col-lg-8">
                          <div class = "card-group">
                            <div class="card">
                              <div class = "card-block">
                                <h5 class = "card-title"> Stay Tuned!</h5>
                                <h6 class = "card-subtitle"> 10/17/2018</h6>
                              </div>
                              <figure>
                                  <img src ="../../project/assets/images/stayTuned.gif">
                              </figure>
                              <div class = "card-block">
                                <p class = "card-text">We'll be releasing our first cover and second album very soon. We hope that you guys are as excited about it as we are!!</p>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <br>
                  <div class = "row justify-content-end">
                      <div class = "col-lg-8">
                          <div class = "card-group">
                            <div class="card">
                                <div class = "card-block">
                                    <h5 class = "card-title"> Success!!</h5>
                                    <h6 class = "card-subtitle"> 10/3/2018</h6>
                                  </div>
                                  <figure>
                                      <img src ="../../project/assets/images/BBVBStage.png">
                                  </figure>
                                    <div class = "card-block">
                                      <p class = "card-text">Our first show was such a big success!! Thanks to everyone for showing up! New music coming soon!</p>
                                    </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <br>
                  <div class = "row">
                      <div class = "col-lg-8">
                          <div class = "card-group">
                            <div class="card">
                                <div class = "card-block">
                                    <h5 class = "card-title"> Our First Live Show!</h5>
                                    <h6 class = "card-subtitle"> 9/22/2018</h6>
                                  </div>
                                  <figure>
                                      <img src ="../../project/assets/images/stage.jpg">
                                  </figure>
                                    <div class = "card-block">
                                      <p class = "card-text">We're so excited to announce our first live show! It'll be on October 2, 2018 at the Aragon Ballroom in Chicago! We hope to see you there</p>
                                    </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <br>
                  <div class = "row justify-content-end">
                      <div class = "col-lg-8">
                          <div class = "card-group">
                            <div class="card">
                                <div class = "card-block">
                                    <h5 class = "card-title"> Inspirations</h5>
                                    <h6 class = "card-subtitle "> 9/10/2018</h6>
                                  </div>
                                  <figure>
                                      <img src ="../../project/assets/images/youtubeLogo2.png">
                                  </figure>
                                    <div class = "card-block">
                                      <p class = "card-text">Many of you guys have been asking what the inspirations for our songs were.
                                        Good news! We've added a new page to our website where you can see the music that we love and inspire us!
                                      </p>
                                    </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <br>
                  <div class = "row">
                      <div class = "col-lg-8">
                          <div class = "card-group">
                            <div class="card">
                                <div class = "card-block">
                                    <h5 class = "card-title">Our First Update!</h5>
                                    <h6 class = "card-subtitle"> 9/2/2018</h6>
                                  </div>
                                  <figure>
                                      <img src ="../../project/assets/images/0.png">
                                  </figure>
                                    <div class = "card-block">
                                      <p class = "card-text">We hope that you enjoy our website!</p>
                                    </div>
                            </div>
        </div>
      </div>
    </div>
</div>