<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #000000; color: #00ff00">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Braden Bisping's Virtual Band</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/news" routerLinkActive="active">
                    News
                </a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" routerLink="/music" routerLinkActive="active">
                    Inspirations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/merch" routerLinkActive="active">
                    Merch
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cart" routerLinkActive="active">
                    Cart({{this.count}})
                </a>
            </li>
        </ul>
    </div>
</nav>