<div id="outer" style="background-color: #eee !important">
  <div class = "container" style="width: 560px; background-color: #fff; margin: 0 auto;">
    <header style="position: fixed; text-align: center; width: 560px;">
      <img src = "../assets/images/youtubeLogo.png" alt="logo" class = "logo" style="width:120px; padding: 10px; border-radius: 4px;">
    </header>
    
    <section id = "video" style="position: fixed; text-align: center; width: 560px; top: 75px;"></section>
    
    <main style="padding: 400px 18px 10px;"></main>
  </div>
</div>