<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">The Prince Vince Experience</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link disabled" href="#">News</a>
          </li>
          <li class="nav-item">
              <a class="nav-link disabled" href="#">Music</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Merch</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" style="color:white; border-color:white" type="submit">Search</button>
      </form>
  </div>
</nav> -->
<!-- <app-home></app-home> -->
<!-- <footer style="background-color:#42a7f4">
  <div class="container-fluid text-center">
      <div class="row">
          <div class="col-md-9">
              <h5 class="text-uppercase">&copy; Braden Bisping & Vince Battista 2018</h5>
              <p>Thank you for visiting my page!</p>
          </div>
          <div class="col-md-3">
              <h5 class="text-uppercase">Contact</h5>
              <ul class="list-unstyled">
                  <li>
                      <a href="mailto:bnbispi@ilstu.edu">Email</a>
                  </li>
                  <li>
                      <a href="https://twitter.com/BispingBraden">Twitter</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer> -->


<!-- <header>
  <mat-toolbar color="primary">Angular 6 Bootstrap 4 Example</mat-toolbar>
</header> -->

<bbvb-header></bbvb-header>
<!-- <section class="container">
  <div class="row"> -->
    <!-- <mat-card class="col-md-6">1</mat-card> we use mat-card instead of div -->
    <!-- <mat-card class="col-md-6">2</mat-card> -->
    <!-- <mat-card class="col-md-6 d-block d-lg-none">3</mat-card> will be hidden on large screens -->
    <!-- <mat-card class="col-md-6 d-block d-lg-none">4</mat-card>
  </div>
</section> -->
<router-outlet></router-outlet>

<bbvb-footer></bbvb-footer>
<!-- <footer></footer> -->