<div class="container-fluid">
  <div class="row">
    <div *ngFor="let item of merch" class="card border border-dark mb-3">
      <a [routerLink]="['/merch', item.id]"><img class="card-img-top" src="../../project/assets/images/{{item.id}}.png" alt="{{item.name}}"></a>
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text"><i>${{item.price}}</i></p>
        <p class="card-text">{{item.description}}</p>
        <button type="button" class="btn btn-success" (click)="addItem(item.id)">Add to Cart</button>
      </div>
    </div>
  </div>
</div>